/* p{
    color:red
}
.vc{
    color:blue;

}
#vc1{
    color:green;
}
p{
    font-size:20px;
    text-align: center;
}
p{
    font-family: comic sans;
} */
/* div{
    height: 100px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    margin: 10px 200px;
    padding: 5px;
    border: 1px dashed black;
} */

/* div{
    border:2px solid black;
    width:800px;
    height:425px;
    margin:auto;
    padding:10px;
}
.box-model{
    height: 200px;
    width: 625px;
    background-color: yellow;
    text-align: center;
    align-content: center;
    padding: 5px;
    border: 50px solid darkblue;
    font-size:25px;
    margin-top:50px;
    margin-left: 50px;
} */
/* span{
    display:block;
}
div{
    display:inline;
} */
.container{
    
    border:2px solid black;
    padding:20px;
    width: 600px;
}
.box{
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
.box1{
    background-color: rgb(205, 205, 2);
}
.box2{
    background-color: rgb(134, 3, 3);
}
.box3{
    background-color: rgb(124, 151, 185);
}