/* p{
    color:red
}
.vc{
    color:blue;

}
#vc1{
    color:green;
}
p{
    font-size:20px;
    text-align: center;
}
p{
    font-family: comic sans;
} */
/* div{
    height: 100px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    margin: 10px 200px;
    padding: 5px;
    border: 1px dashed black;
} */

div{
    border:2px solid black;
    width:800px;
    height:400px;
    margin:auto;
    padding:10px;
}
.box-model{
    height: 200px;
    width: 600px;
    background-color: yellow;
    text-align: center;
    align-content: center;
    margin: 10px 50px;
    padding: 5px;
    border: 50px solid darkblue;
}