p{
    color:red
}
.vc{
    color:blue;

}
#vc1{
    color:green;
}
p{
    font-size:20px;
    text-align: center;
}
p{
    font-family: 'Arial', sans-serif;
}
div{
    height: 100px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    margin-left: 42%;
    padding: 5px;
}